<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Plant name</th>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Water</th>
      <th>Light</th>
      <th>Soil</th>
      <th>Location</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <% if plant.user == current_user %>
        <tr>
          <td><%= link_to plant.plant_name, plant %></td>
          <td><%= plant.temperature %></td>
          <td><%= plant.humidity %></td>
          <td><%= plant.water %></td>
          <td><%= plant.light %></td>
          <td><%= plant.soil %></td>
          <td><%= plant.location %></td>
          <td class="text-center">
              <%= link_to 'Delete', plant, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %>
          </td> 
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Add a New Plant', new_plant_path, class:"btn btn-primary" %>